/* ---------- ==========================================
   GLOBAL SCAFFOLD
*/

.global-wrap() {
  .padding-w(7.5%);
  @media @phone         { /* 480  */ .padding-w(10%); }
  @media @tablet        { /* 768  */ .padding-w(11.25%); }
  @media @desktop       { /* 992  */ .padding-w(12.5%); }
  @media @largedesktop  { /* 1200 */ .padding-w(15%); }
}

.wrapper, footer, header {
  .global-wrap();
}

footer {
  margin-top: 50px;
}

header {
  margin-bottom: 100px;
  h1 {
    margin-top: -5px;
  }
  img {
    margin-top: 20px;
  }
}